$border-color: #999;

main {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: 1px solid $border-color;
    box-shadow: 2px 2px 5px rgba(150, 150, 150, 0.7);
}

.mark {
    font-size: 2rem;
    vertical-align: middle;
}
