$border-color: #ccc;
$default-color: #fff;
$bg-player-x: #448aff;
$bg-player-o: #ff5252;
$bg-hover: #ddd;

:host {
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid $border-color;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    align-content: center;
    color: $default-color;
    font-size: 5rem;
    overflow: hidden;
}

.wrapper {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;

    &.player-x {
        background: $bg-player-x;

        &:hover {
            background: $bg-player-x;
        }
    }

    &.player-o {
        background: $bg-player-o;
        &:hover {
            background: $bg-player-o;
        }
    }

    &:hover {
        background: $bg-hover;
    }
}
